/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    display: flex;
    place-content: center;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-color: #d9d9d9;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color);
}

p {
    font-size: 16px;
}

h1,
h2 {
    font-size: 22px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    padding: 0 50px;
}

.section-title {
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header ********/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

#logo {
    height: 19px;
}

#tabs {
    display: flex;
    height: 79px;
    gap: 68px;
}

#tabs li {
    display: inline-block;
    height: 100%;
    padding-top: 12px;
    border-top: transparent 2px solid;
}

#tabs li a {
    color: black;

}

#tabs li:hover {
    border-top: var(--main-color) 2px solid;
    color: var(--main-color);
}

#tabs li:hover a {
    color: inherit;
}

/****** Research and filters *******/

#info-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 35px;
}

#research-section {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 50px;
    width: 377px;
    border: none;

}

.location-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.fa-location-dot {
    color: black;
}

#research {
    font-size: 18px;
    font-weight: 700;
    color: black;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    padding: 14px 24px;
    text-align: center;
}

#research-btn {
    display: flex;
    background-color: var(--main-color);
    padding: 15px 16px;
    border-radius: 0 15px 15px 0;
    border: none;
    cursor: pointer;
}

#research-btn span {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

#research-btn i {
    display: none;
}


#filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.btn-filter {
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid var(--border-color);
    padding: 0 19px;
    border-radius: 25px;
    height: 50px;
    width: auto;
    cursor: pointer;
}

.btn-filter:hover {
    background-color: var(--filter-bg-color);
}

.filter-icon {
    margin-right: 10px;
    font-size: 22px;
}

#info {
    display: flex;
    align-items: center;
    gap: 10px;
}

#info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-color) 1px solid;
    border-radius: 100%;
    width: 23px;
    height: 23px;
    flex-shrink: 0;
}


/****** Accomodations And Popular *******/
.accommodations-and-popular {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 40px;
    margin: 35px 0;
}

.accommodations-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Accomodations ********/
#accommodations {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.accommodations-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;

}

.accommodations-cards .card {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 1;

}

.accommodations-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 124px;
    width: 100%;
}

.accommodations-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
    color: black;
}

.accommodations-cards .card-title {
    margin-top: 4px;
    margin-bottom: 8px;
}

.accommodations-cards .card-subtitle {
    margin-bottom: 8px;
}

.more {
    display: block;
    font-size: 18px;
    font-weight: 700;

}


/****** Popular ********/
.popular {
    width: 32%;
    padding: 30px;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 30px;
}

.popular-cards .card a {
    display: flex;
    color: inherit;
    width: 100%;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/
#activities {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activities-cards {
    display: flex;
    gap: 30px;
}

.activities-cards .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    padding: 0;
    flex-basis: 100%;
}

.activities-cards .card img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-title {
    padding: 20px 19px;
    color: black;
}

/****** footer ***********/

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    margin-top: 35px;
}

.footer-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 15px;
    box-sizing: border-box;
    width: 30%;
}

.footer-div ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.footer-link {
    color: black;
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .accommodations-and-popular {
        flex-direction: column;
        gap: 0;
    }

    #accommodations {
        width: 100%;
    }

    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-cards .card {
        width: 30%;
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-cards .card img {
        height: 200px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .main-container {
        padding: 0;
        width: 100%;
    }

    .header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        padding: 30px;
    }

    .nav {
        width: 100%;
    }

    #tabs {
        justify-content: center;
        height: 36px;
        width: 100%;
        gap: 0;
    }

    #tabs li {
        display: flex;
        justify-content: center;
        width: 50%;
        height: auto;
        padding-top: 0;
        padding-bottom: 13px;
        border-bottom: transparent 2px solid;
        border-top: none;
    }

    #tabs li:hover {
        border-top: none;
        border-bottom: var(--main-color) 2px solid;
        color: var(--main-color);
    }

    #info-content {
        align-items: center;
        margin: 30px 20px 0;
    }

    #info-content h1 {
        margin-bottom: 8px;
    }


    #research-section {
        max-width: 335px;

    }

    #research-btn {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-left: -15px;
    }

    #research-btn span {
        display: none;
    }

    #research-btn i {
        display: block;
        width: 17px;
    }

    .fa-magnifying-glass {
        color: white;
        width: 17px;
        padding: 15px 16px;

    }

    #filters {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    #btn-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .btn-filter {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        flex-basis: 48%;
        padding: 0 19px;
        height: 50px;
        width: auto;
        font-size: 14px;
    }

    .filter-icon {
        font-size: 22px;
    }

    #info {
        width: 100%;
    }

    .accommodations-and-popular {
        flex-direction: column-reverse;
        margin: 35px 0;
        width: 100%
    }

    .accommodations-and-popular section {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .popular {
        padding: 30px 20px;
    }

    .popular-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .popular-cards .card {
        width: 100%;
        box-sizing: border-box;
    }

    #accommodations {
        background-color: white;
        gap: 15px;
        padding: 20px;

    }

    .accommodations-cards {
        flex-direction: column;
        gap: 15px;

    }

    .activities-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activities-cards .card {
        width: 100%;
    }

    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;

    }

    .footer-div {
        margin: 0;
        width: 100%;
    }



}